@model IEnumerable<Data_LojaDiretorioCarrinho.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Produtos</h1>

<hr />

<br />

<p>
    <a class="btn btn-primary" asp-action="Create">Novo Produto</a>
</p>

<br />

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PdtNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdtPreco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdtMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdtLocalProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PdtNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdtPreco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdtMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdtLocalProduto)
            </td>
            <td class="row">
                <a asp-action="Edit" class="col-sm-3 btn btn-warning m-1" asp-route-id="@item.Id">Alterar</a>
                <a asp-action="Details" class="col-sm-3 btn btn-success m-1" asp-route-id="@item.Id">Detalhes</a>
                <a asp-action="Delete" class="col-sm-3 btn btn-danger m-1" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts 
{
   
    <script>
        $(document).ready(function () {

            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>

}